<mat-toolbar color="primary">
    <div class="container">
        <img src="assets/logo.svg" alt="">
        <div class="search">
            <input type="text" placeholder="Search">
            <mat-icon color="accent" aria-hidden="false" aria-label="Example home icon">
                search
            </mat-icon>
        </div>
        <div class="nav">
            <a routerLink="/">Home</a>
            <a routerLink="/">Categories</a>
            <a routerLink="/">Series</a>
            <a routerLink="/">Movies</a>
            <button mat-raised-button color="accent">Signin</button>
        </div>
    </div>
</mat-toolbar>